
.icon-lego:before { content: '\e800'; } /* '' */
.icon-gplus-1:before { content: '\f0d5'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */